.blog-section h1 {
    text-align: center;
    color: crimson;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;

}

.artical-blog1 {
    flex-basis: 30%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1% 2%;
    box-shadow: 3px 6px 11px black;
    margin-bottom: 15px;
    text-align: justify;
}

.artical-blog1 h2 {
    color: rgb(111, 114, 108);
}

.artical-blog2 {
    flex-basis: 30%;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 3px 6px 11px black;
    margin-bottom: 10px;
}

.artical-blog2 p {
    padding: 2%;
    text-align: justify;
}

.artical-blog2 h2 {
    color: gray;
    margin-left: 20px;
}

.blog-artical3 {
    flex-basis: 30%;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 3px 6px 11px black;
    margin-bottom: 10px;
}

.blog-artical3 h2 {
    color: gray;
    margin-left: 20px;
}

.blog-artical3 p {
    padding: 1% 2%;
    text-align: justify;
}

@media only screen and (width:360px) {
    .container {
        flex-direction: row;
    }
}