.card {
    width: 300px;
    background-color: bisque;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 12px;
    margin: 15px;
}

.card button {
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    background-color: black;
    box-shadow: 3px 6px 9px gray;
}

.card button:hover {
    color: crimson;
    box-shadow: none;
}