.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.aritical-container {
    flex-basis: 50%;
}

.aritical-container h1 {
    color: chartreuse;
    font-weight: 800;
    font-size: 45px;
}

.aritical-container span {
    color: crimson;
}

.aritical-container p {
    font-size: 18px;
    text-align: justify;
}

@media only screen and (width: 360px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .aritical-container {
        flex-basis: 100%;
    }

    .image-container {
        flex-basis: 100%;
    }

    .image-container img {
        width: 100%;
    }
}

.image-container {
    flex-basis: 40%;
}

.image-container img {
    width: 100%;
    margin-bottom: 30px;
}

.container button {
    background-color: rgb(7, 7, 7);
    color: crimson;
    border: 1px solid gray;
    padding: 0px 20px;
    border-radius: 20px;
    font-weight: 700;
    box-shadow: 6px 2px 5px black;
}

.container button:hover {
    box-shadow: none;
    color: #fff;
}

.container button p {
    font-size: 18px;
}